{% extends 'base.html' %} {% block title %}Home{% endblock %} {% block content
%}
<h1>Hello, {{ g.user['username'] }}</h1>
<a href="{{ url_for('auth.logout') }}">Log Out</a>

<section class="container mt-5">
  <div class="d-flex justify-content-between mb-3">
    <h2 class="text-center m-0">Meals</h2>
    <button
      type="button"
      class="btn btn-primary"
      data-bs-toggle="modal"
      data-bs-target="#add-meal-modal"
    >
      Add meal
    </button>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">Pet</th>
        <th scope="col">When</th>
        <th scope="col">Quantity</th>
        <th scope="col">Owner</th>
      </tr>
    </thead>
    <tbody>
      {% for meal in meals %}
      <tr>
        <td>{{meal.name}}</td>
        <td>{{meal.datetime}}</td>
        <td>{{meal.quantity}}g</td>
        <td>{{meal.username}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <div
    class="modal fade"
    id="add-meal-modal"
    data-bs-backdrop="static"
    data-bs-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Add meal</h1>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
            id="close-add-meal-modal-btn"
          ></button>
        </div>
        <div class="modal-body">
          <form name="add-meal" class="needs-validation" novalidate>
            <div class="mb-4">
              <label for="pet_id" class="form-label">Pet</label>
              <select
                id="pet_id"
                name="pet_id"
                class="form-select"
                aria-label="Pet selection"
              >
                <option value="">Select pet</option>
                {% for pet in pets %}
                <option value="{{ pet.id }}">{{ pet.name }}</option>
                {% endfor %}
              </select>
              <div id="pet-required-message" class="invalid-feedback">
                Pet is required.
              </div>
            </div>
            <div class="mb-4">
              <label for="quantity" class="form-label">Quantity</label>
              <input
                id="quantity"
                name="quantity"
                type="number"
                class="form-control"
                required
              />
              <div id="quantity-required-message" class="invalid-feedback">
                Quantity is required.
              </div>
              <div id="quantity-invalid-message" class="invalid-feedback">
                Quantity must be more than 0.
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Cancel
          </button>
          <button id="confirm-meal" type="button" class="btn btn-primary">
            Confirm
          </button>
        </div>
      </div>
    </div>
  </div>

  <script src="static/add-meal.js"></script>
</section>
{% endblock %}
